* {
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", 微软雅黑, Arial, Helvetica, sans-serif, 宋体;
    background: #2ca6cb;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

h1 {
    text-align: center;
}

textarea {
    min-height: 100px;
    width: 100%;
}



textarea,
.mask,
input,
.task-item,
button {
    border-radius: 3px;
    padding: 10px;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, Helvetica, sans-serif, 宋体;
}

#date {
    width: 100%;
    margin: 4px 0;
}

input[type=text] {
    width: 67%;
    line-height: 5px;
}

textarea,
input[type=date],
input[type=text] {
    background: #ddd;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
}

textarea:focus,
textarea:hover,
input[type=date]:focus,
input[type=text]:focus,
input[type=date]:hover,
input[type=text]:hover {
    background: #fff;
}

.add-task button {
    width: 15%;
    float: right;
    margin-left:8px;
    cursor: pointer;
    background: #46b1e4;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.add-task button:hover {
    background: #5fb9e4
}

.add-task button,
.task-item {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.task-item {
    background: #fff;
    margin-bottom: 4px;
    color: #333;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.task-list {
    margin: 6px 0;
}

.task-item:hover {
    background: #ddd;
}

.task-detail {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 50%;
    border-radius: 10px 10px 0 10px;
    display: none;
}

.task-detail>* {
    margin: 10px 0
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(30, 30, 30, 0.6);
}

.task-detail .title {
    padding: 0 10px 10px;
    font-weight: 900;
}

.delete,
.detail {
    float: right;
    margin: 0 5px;
    color: #888;
}

.delete:hover,
.detail:hover {
    color: #222;
}

.task-title {
    margin-left: 5px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#title {
    display: none;
}

.complete {
    color: #888;
    background: #aaa;
}

.complete:after {
    content: '';
    width: 80%;
    height: 0.6px;
    background: #888;
    top: -11px;
    left: 20px;
    position: relative;
    display: block;
    pointer-events: none;
}

.notice {
    background: red;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
}

.notice span {
    vertical-align: middle;
}

.notice button {
    margin: 0 10px;
    padding: 0 10px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    background: #2ca6cb;
    vertical-align: middle;
    cursor: pointer;
}
textarea,
button,
input {
    border: none;
}
.alert{
    position: fixed;
    width: 300px;
    height: 120px;
    background: #ddd;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}
.alert button{
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}
.confirm{background:#2ca6cb; }
